.container {
  /* position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1; */
  height: 50px;
  width: 100vw;
  box-shadow: 0px 5px 10px rgb(69, 90, 100, 0.5);
  background-color: #ffffff;
}

.title {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: 2em;
  padding-top: 3px;
  padding-left: 10px;
  cursor: pointer;
  color: rgb(76, 175, 80);
  /* color: rgb(96, 125, 139); */
  /* color: white; */
  /* text-shadow: 1px 1px 0px rgb(76, 175, 80), -1px 1px 0px rgb(76, 175, 80),
    1px -1px 0px rgb(76, 175, 80), -1px -1px 0px rgb(76, 175, 80); */
  text-shadow: 1px 1px 0px rgb(69, 90, 100), -1px 1px 0px rgb(69, 90, 100),
    1px -1px 0px rgb(69, 90, 100), -1px -1px 0px rgb(69, 90, 100);
}

.menuIcons {
  display: inline-block;
  margin-top: 7px;
  margin-left: calc(100vw - 285px);
}

.icon {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
  fill: rgb(69, 90, 100);
  transition: fill 0.25s;
}
.icon:hover {
  fill: rgb(76, 175, 80);
}

.bluetooth {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-left: 0px;
}

.bluetoothDisconnected {
  fill: rgb(69, 90, 100, 0.25);
}

.bluetoothConnected {
  animation: bluetoothConnectedGlow 2s infinite;
}

@keyframes bluetoothConnectedGlow {
  0% {
    fill: rgb(69, 90, 100, 0.25);
  }
  50% {
    fill: rgb(76, 175, 80, 0.75);
  }
  100% {
    fill: rgb(69, 90, 100, 0.25);
  }
}
