.icon {
  margin-top: 10px;
  width: 35px;
  height: 35px;
  fill: rgb(69, 90, 100);
}

.speechText {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
  user-select: none;
}

.container {
  margin-bottom: 10px;
}

.message {
  height: 30px;
  width: 175px;
  margin-left: 20px;
  text-align: center;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
