.icon {
  height: 25px;
  width: 25px;
  margin: 5px;
  fill: rgb(69, 90, 100);
}

.inputContainer {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-top: 11px;
}

.input {
  width: 100px;
  height: 23px;
}

.selectContainer {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-top: 10px;
}

.saveOpenButtons {
  transition: opacity 0.5s;
  margin-top: 10px;
}

.saveButton {
  display: inline-block;
  margin-right: 50px;
}

.filesButton {
  display: inline-block;
}

.pathSelect {
  width: 100px;
  height: 30px;
}
