.container {
  text-align: center;
  margin-top: 50px;
}

.homeScreenTitle {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.addToHomeScreenItem {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.imageContainer {
  height: 350px;
}

.image {
  height: 350px;
  width: auto;
  max-width: calc(100vw - 100px);
  transition: opacity 0.5s;
  box-shadow: 0px 15px 15px rgb(0, 0, 0, 0.5);
  border: 2px solid rgb(76, 175, 80);
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 50px;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.credits {
  margin-top: 300px;
  font-size: 1em;
  padding: 10px;
  background-color: rgb(96, 125, 139);
}

.creditsItem {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
