.container {
  margin-top: 0px;
  padding-bottom: 50px;
  text-align: center;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.findPathButton {
  display: inline-block;
  margin-left: 15px;
}

.findPathOptions {
  display: inline-block;
  margin-left: 5px;
  text-align: left;
  width: 100px;
}

.saveOpenButtons {
  transition: opacity 0.5s;
  margin-top: 10px;
}

.saveButton {
  display: inline-block;
}

.filesButton {
  display: inline-block;
}

.checkboxContainer {
  transition: opacity 0.25s;
  user-select: none;
}

.icon {
  height: 25px;
  width: 25px;
  margin: 5px;
  fill: rgb(69, 90, 100);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
