.container {
  text-align: center;
  margin-bottom: 10px;
  animation: fadeIn 0.25s forwards;
}

.noChrome {
  font-size: 1.25em;
}

.password {
  height: 20px;
}

.passwordInput {
  font-size: 1.25em;
  margin-right: 10px;
}

.message {
  font-size: 1.25em;
  height: 30px;
  animation: fadeIn 0.25s forwards;
}

.connectButton {
  border-radius: 10px;
  color: rgb(69, 90, 100);
  border: 1px solid rgb(69, 90, 100);
  background-color: white;
  font-size: 1.25em;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 3px 5px rgb(69, 90, 100, 0.5),
    inset 0px 3px 5px rgb(69, 90, 100, 0);
  transition: color 0.25s, border 0.25s, box-shadow 0.25s, background-color;
}
.connectButton:hover:enabled {
  color: rgb(76, 175, 80);
  border: 1px solid rgb(76, 175, 80);
  box-shadow: 0px 5px 5px rgb(69, 90, 100, 0.75),
    inset 0px 3px 5px rgb(69, 90, 100, 0);
}
.connectButton:active:enabled {
  color: rgb(76, 175, 80);
  border: 1px solid rgb(76, 175, 80);
  box-shadow: 0px 5px 5px rgb(69, 90, 100, 0),
    inset 0px 3px 5px rgb(69, 90, 100, 0.5);
}
.connectButton:disabled {
  background-color: rgb(207, 216, 220);
  box-shadow: 0px 5px 5px rgb(69, 90, 100, 0),
    inset 0px 3px 5px rgb(69, 90, 100, 0);
  cursor: default;
}

.iconContainer {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.icon {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  height: 30px;
  width: 30px;
  transition: fill 0.5s;
}

.iconShadow {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
  height: 30px;
  width: 30px;
  fill: rgb(0, 0, 0, 0.2);
  filter: blur(2px);
}

.red {
  fill: rgb(255, 0, 0);
}

.yellow {
  fill: rgb(255, 255, 0);
}

.green {
  /* fill: rgb(0, 225, 0); */
  fill: rgb(76, 200, 80);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
