.container{
    color: rgb(33, 33, 33);
    width: 100vw;
    height: 100vh;
    background-color: rgb(207, 216, 220);
    animation: fadeIn .25s forwards;
}

.contentContainer{
    padding-top: 50px;
}

.fadeIn{
    animation: fadeIn .25s forwards;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

.fadeOut{
    animation: fadeOut .25s forwards;
}

@keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}

a:link{
    color: rgb(76, 175, 80);
    text-decoration: none;
}
a:visited{
    color: rgb(76, 175, 80);
    text-decoration: none;
}
a:hover{
    color: rgb(76, 175, 80);
    text-decoration: underline;
}
a:active{
    color: rgb(76, 175, 80);
    text-decoration: underline;
}