.container {
  /* padding-top: 10vh; */
}

.rotateDeviceContainer {
  text-align: center;
  font-size: 1.5em;
  animation: fadeIn 0.25s forwards;
}

.rotateDeviceIconContainer {
  width: 200px;
  height: 200px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  animation: rotateDevice 2s infinite;
}

@keyframes rotateDevice {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  20% {
    opacity: 1;
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
    transform: rotate(-90deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
  }
}

.rotateDeviceIcon {
  fill: rgb(76, 175, 80);
  /* width: 100px;
  height: 100px; */
}

.controlsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  animation: fadeIn 0.25s forwards;
}

.sliderContainer {
  /* display: inline-block; */
  /* vertical-align: top; */
  /* margin-left: 5vw; */
}

.consoleContainer {
  /* display: inline-block; */
  /* vertical-align: top; */
  /* margin-left: 5vw; */
}

.joystickContainer {
  /* display: inline-block; */
  /* vertical-align: top; */
  /* margin-left: calc(35vw - 50vh); */
}

.keyboardIcon {
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  fill: rgb(96, 125, 139);
}

.mouseIcon {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  fill: rgb(96, 125, 139);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
