.container {
  text-align: center;
  padding-top: 5vh;
  font-size: 1.5em;
}

.value {
  display: inline-block;
  padding-left: 10px;
  width: 50px;
}

.batteryContainer {
  margin-top: 5px;
  height: 35px;
  width: 50px;
  position: relative;
}

.batteryOuter {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgb(69, 90, 100);
  border-radius: 10px;
  width: 65px;
  height: 25px;
}

.batteryTip {
  position: absolute;
  height: 15px;
  width: 8px;
  top: 8px;
  left: 70px;
  border-radius: 4px;
  background-color: rgb(69, 90, 100);
}

.batteryInner {
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 4px;
  height: 18px;
  background-color: rgb(69, 90, 100);
  transition: width 0.5s;
}

.batteryNumber {
  position: absolute;
  text-align: center;
  top: 6px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(76, 175, 80);
}

.tiltButtonText {
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
